
:root {
	--primary-color: rgb(0, 240, 180);
	--secondary-color:rgb(25, 197, 154);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--secondary-color);
	font-family: 'Montserrat', sans-serif;
}
.titulo {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 3rem;
	font-size: 2rem;
	color: white;
}


.alignCenter {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	max-width: 30rem;
	background-color: rgb(255, 255, 255);
	padding-bottom: 1.5rem;
	min-height: 30rem;
	border-radius: 40px;
	border: 10px solid var(--primary-color);
}
.container {
	display: grid;
	width: 100%;
	flex: column wrap;
	justify-content: center;
}

.container h2{
	text-align: center;
	font-size: 1.8rem;
	margin-top: 2rem;
}

.container button {
	width: 25rem;
	height: 6rem;
	font-size: 1.8rem;
	border-radius: 50px;
	outline: none;
	border: 7px solid var(--primary-color);
	box-shadow: 10px 10px rgb(16, 90, 74);
	transition: all 300ms ease-in-out;
}

.container button a {
	text-decoration: none;
	color: black;
}

.container button:hover {
	background-color: var(--primary-color);
	cursor: pointer;
}

.container button:active {
	transform: scale(0.9);
}